[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
basicsr = "*"
diffusers = "*"
fairscale = "==0.4.4"
fonts = "*"
font-roboto = "*"
gradio = "==3.4b3"
invisible-watermark = "*"
numpy = "*"
omegaconf = "*"
piexif = "*"
pillow = "*"
pytorch-lightning = "*"
realesrgan = "*"
scikit-image = ">=0.19"
clip = {ref = "d50d76daa670286dd6cacf3bcd80b5e4823fc8e1", git = "https://github.com/openai/CLIP"}
gfpgan = {ref = "8d2447a2d918f8eba5a4a01463fd48e45126a379", git = "https://github.com/TencentARC/GFPGAN.git"}
timm = "==0.4.12"
transformers = "==4.19.2"
einops = "*"
jsonmerge = "*"
clean-fid = "*"
resize-right = "*"
torchdiffeq = "*"
kornia = "*"
protobuf = "==3.19.4"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}
gdown = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
