[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
accelerate = "*"
basicsr = "*"
clean-fid = "*"
diffusers = "*"
einops = "*"
fairscale = "==0.4.4"
fonts = "*"
font-roboto = "*"
gdown = "*"
GitPython = "*"
gradio = "==3.9"
inflection = "*"
invisible-watermark = "*"
jsonmerge = "*"
k-diffusion = {git = "https://github.com/crowsonkb/k-diffusion.git"}
kornia = "*"
lark = "*"
numpy = "*"
omegaconf = "*"
opencv-python = "*"
piexif = "*"
pillow = "*"
protobuf = "==3.19.4"
pytorch-lightning = "1.7.7"
realesrgan = "*"
resize-right = "*"
safetensors = "*"
scikit-image = ">=0.19"
timm = "==0.4.12"
transformers = "==4.19.2"
torch = "*"
torchvision = "*"
torchaudio = "*"
torchdiffeq = "*"
torchsde = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
